<%= form_with(model: golongan, local: true) do |form| %>
  <% if golongan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(golongan.errors.count, "error") %> prohibited this golongan from being saved:</h2>

      <ul>
        <% golongan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gapok %>
    <%= form.number_field :gapok %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
