<p id="notice"><%= notice %></p>

<h1>Karyawan</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id golongan</th>
      <th>Nama</th>
      <th>Jns klm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @karyawans.each do |karyawan| %>
      <tr>
        <td><%= karyawan.golongan.id %></td>
        <td><%= karyawan.nama %></td>
        <td><%= karyawan.jns_klm %></td>
        <td><%= link_to 'Show', karyawan %></td>
        <td><%= link_to 'Edit', edit_karyawan_path(karyawan) %></td>
        <td><%= link_to 'Destroy', karyawan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Karyawan', new_karyawan_path %>
